.attribution { font-size: 11px; text-align: center; }

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}

.container {
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;    
    height: 600px;
}

.button-container {
    display: flex;
    justify-content: center;
    top: 50px;
    position: relative;
}

.dice-button {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 30px;   
    display: flex;
    justify-content: center;
    padding: 10px;
}

.advice-header {
    color: hsl(150, 100%, 66%);
    font-size: 20px;
    margin-bottom: 10px;
}

.attribution {
    color: hsl(193, 38%, 86%);
    
}

.attribution a {
    color: hsl(193, 38%, 86%);
}

#dice-divider {
    color: hsl(193, 38%, 86%);
}

#advice-container {
    color:hsl(193, 38%, 86%);
    margin-bottom: 20px;
}

.card {
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
}

@media only screen and (max-device-width: 375px) {

}